In [12]:
import pandas as pd
import numpy as np
import inflection
import datetime
pd.options.mode.chained_assignment = None

# 0.0 Load Data

In [13]:
xls = pd.ExcelFile('..\data\Indicadores_Economicos.xlsx')

df1 = xls.parse('Taxa Selic', skiprows=3, index_col=None, na_values=['NA'])

# 1.0 Selic

In [14]:
def parse_selic(df):
    df = df.iloc[3:]
    df.drop(['Unnamed: 2'],axis=1, inplace=True)
    df.rename(columns={'Unnamed: 1':'Data'}, inplace =True)
    cols_old = df.columns.to_list()
    snakecase = lambda x: inflection.underscore(x)
    cols_new = list(map(snakecase, cols_old))


    #rename
    df.columns = cols_new
    df.rename(columns={'taxa selic': 'retorno_mesal'}, inplace =True)
    df.rename(columns={'unnamed: 7': 'taxa_selic'}, inplace =True)
    return df
selic = parse_selic(df1)
selic.head()

,reunião,data,período de vigência,meta selic,tban,retorno_mesal,taxa_selic
3,238º,2021-05-05 00:00:00,06/05/2021 - 16/06/2021,3.5,NaN,0.39,3.4
4,237º,2021-03-17 00:00:00,18/03/2021 - 05/05/2021,2.75,NaN,0.34,2.65
5,236º,2021-01-20 00:00:00,21/01/2021 - 17/03/2021,2,NaN,0.28,1.9
6,235º,2020-12-09 00:00:00,10/12/2020 - 20/01/2021,2,NaN,0.21,1.9
7,234º,2020-10-28 00:00:00,29/10/2020 - 09/12/2020,2,NaN,0.22,1.9

In [15]:
selic.isna().sum()

reunião                  0
data                     8
período de vigência      0
meta selic               0
tban                   217
retorno_mesal            0
taxa_selic               0
dtype: int64

# 2.0 Indice DI

In [16]:
df2 = xls.parse('Indice DI', skiprows=2, index_col=None, na_values=['NA'])

In [17]:
def parse_indiceDI(df2):
    di0 = df2[['Data', '%']]
    di1 = df2[['Data.1', '%.1']].rename(columns={'Data.1':'Data','%.1': '%'}).dropna()
    di2 = df2[['Data.2', '%.2']].rename(columns={'Data.2':'Data','%.2': '%'}).dropna()
    di3 = df2[['Data.3', '%.3']].rename(columns={'Data.3':'Data','%.3': '%'}).dropna()
    # Merge into only one column
    indice_di = pd.concat([di0,di1,di2, di3], ignore_index=True)
    # Drop unecessary headers
    indice_di = indice_di.loc[indice_di.Data != 'Data']
    return indice_di

indice_di = parse_indiceDI(df2)
indice_di

                    Data     %
0    1986-07-01 00:00:00  1.84
1    1986-08-01 00:00:00   2.3
2    1986-09-01 00:00:00  2.71
3    1986-10-01 00:00:00  2.87
4    1986-11-01 00:00:00  5.15
..                   ...   ...
431  2021-02-01 00:00:00  0.13
432  2021-03-01 00:00:00   0.2
433  2021-04-01 00:00:00  0.21
434  2021-05-01 00:00:00  0.27
435  2021-06-01 00:00:00  0.31

[420 rows x 2 columns]

In [18]:
indice_di.isna().sum()

Data    0
%       0
dtype: int64

# 3.0 Índice IPCA

In [19]:
df3 = xls.parse('Indice IPCA', skiprows=3, index_col=None, na_values=['NA'])
# Drop unecessary headers
ipca = df3.loc[(df3.Data!='IPCA (IBGE)')& (df3.Data!='Data')]
ipca.shape

(486, 2)

In [20]:
ipca.isna().sum()

Data    0
%       0
dtype: int64

# 4.0 Dolar

In [21]:
df4 = xls.parse('Dolar', skiprows=2, index_col=None, na_values=['NA'])
dolar = df4.loc[~df4.Data.isna()]
dolar.isna().sum()

Data                  0
Fechamento            0
Variação              0
Retorno Mensal (%)    0
Abertura              0
Máxima                0
Mínima                0
Volume                8
dtype: int64

In [39]:
dolar.loc[dolar['Variação']==0].shape[0]

1809

# 5.0 BOVA11

In [23]:
bova11 = xls.parse('Bova11', skiprows=2, index_col=None, na_values=['NA'])
bova11.isna().sum()

Data                  0
Fechamento            0
Variação              0
Retorno mensal (%)    0
Abertura              0
Máxima                0
Mínima                0
Volume                0
dtype: int64

In [24]:
bova11.head()

,Data,Fechamento,Variação,Retorno mensal (%),Abertura,Máxima,Mínima,Volume
0,2021-07-19,120.20,-0.95,-0.0078,119.50,120.20,118.64,6486683
1,2021-07-16,121.15,0.00,0.0000,123.01,123.14,121.04,0
2,2021-07-16,121.15,-1.30,-0.0106,123.01,123.14,121.04,5638173
3,2021-07-15,122.45,-0.88,-0.0071,123.23,124.07,122.08,3957784
4,2021-07-14,123.33,0.13,0.0011,124.30,124.71,123.20,6404311

In [25]:
bova11.loc[bova11.Volume==0].shape[0]

197

In [40]:
bova11.loc[bova11['Variação']==0].shape[0]

211

# 6.0 SMAL11

In [26]:
smal11 = xls.parse('Smal11', skiprows=2, index_col=None, na_values=['NA'])
smal11.isna().sum()

Data                  0
Fechamento            0
Variação              0
Retorno Mensal (%)    0
Abertura              0
Máxima                0
Mínima                0
Volume                0
dtype: int64

In [27]:
smal11.head()

,Data,Fechamento,Variação,Retorno Mensal (%),Abertura,Máxima,Mínima,Volume
0,2021-07-19,3064.09,-43.25,-0.0139,3106.81,3106.81,3036.43,0
1,2021-07-16,3107.34,0.00,0.0000,3132.59,3147.94,3104.57,0
2,2021-07-16,3107.34,-25.18,-0.0080,3132.59,3147.94,3104.57,108981600
3,2021-07-15,3132.52,-22.95,-0.0073,3155.47,3163.66,3116.07,133373300
4,2021-07-14,3155.47,15.08,0.0048,3140.57,3174.22,3140.57,127793800

In [28]:
smal11.loc[smal11.Volume==0].shape[0]

387

In [44]:
smal11.loc[smal11['Variação']==0].head()

,Data,Fechamento,Variação,Retorno Mensal (%),Abertura,Máxima,Mínima,Volume
1,2021-07-16,3107.34,0.0,0.0,3132.59,3147.94,3104.57,0
7,2021-07-09,3069.06,0.0,0.0,3114.70,3114.70,3040.43,0
33,2021-06-03,3156.92,0.0,0.0,3136.20,3160.16,3134.96,0
44,2021-05-19,2957.73,0.0,0.0,2977.79,2980.95,2947.51,0
77,2021-04-02,2774.92,0.0,0.0,2797.64,2817.51,2769.39,0

# 7.0 Bitcoin

In [29]:
bitcoin = xls.parse('Bitcoin', skiprows=2, index_col=None, na_values=['NA'])
bitcoin.isna().sum()

Data                  0
Fechamento            0
Variação              0
Retorno Mensal (%)    0
Abertura              0
Máxima                0
Mínima                0
Volume                0
dtype: int64

In [30]:
bitcoin.head()

,Data,Fechamento,Variação,Retorno Mensal (%),Abertura,Máxima,Mínima,Volume
0,2021-07-19,30878.02,-989.05,-0.0310,31700.17,31887.82,30439.99,13590
1,2021-07-18,31867.07,327.06,0.0104,31598.60,32450.00,31200.00,7231
2,2021-07-17,31540.01,156.55,0.0050,31492.44,31949.99,31179.01,8385
3,2021-07-16,31383.46,-191.82,-0.0061,31676.67,32259.16,31025.42,14127
4,2021-07-15,31575.28,-1185.66,-0.0362,32803.98,33187.60,31064.77,14899

In [31]:
bitcoin.loc[bitcoin.Volume==0].shape[0]

19

# 8.0 Ethereum

In [32]:
ether = xls.parse('Ethereum', skiprows=2, index_col=None, na_values=['NA'])
ether.isna().sum()

Data                  0
Fechamento            0
Variação              0
Retorno Mensal (%)    0
Abertura              0
Máxima                0
Mínima                0
Volume                0
dtype: int64

In [33]:
ether.head()

,Data,Fechamento,Variação,Retorno Mensal (%),Abertura,Máxima,Mínima,Volume
0,2015-08-21,1.38,-0.02,-0.0115,1.40,1.48,1.35,687564
1,2015-08-20,1.40,-0.07,-0.0475,1.48,1.56,1.35,1448422
2,2015-08-19,1.46,0.21,0.1637,1.25,1.53,1.25,1941239
3,2015-08-18,1.26,0.17,0.1581,1.17,1.32,1.17,1180623
4,2015-08-17,1.09,-0.12,-0.0968,1.22,1.33,1.09,1366708

In [34]:
ether.loc[ether.Volume==0].shape[0]

14

**Notes**:

* Selic faltando 8 datas
* Dolar faltando 8 volumes
* Volumes == 0 em todos os ativos (Dolar, Bova11, Smal1, Bitcoin, Ether)

Questões a serem resolvidas já no ciclo padrão do CRISP

 Próximos passos:
 
 1. Passar as datas para tipo datetime
 2. Descobrir a data min e max de cada indicador
 3. Tentar reunir os dataframes em um dataframe único, adicionando uma coluna que com o nome do ativo

In [35]:
selic['data'] = pd.to_datetime(selic['data'], dayfirst=True)#
indice_di['Data'] = pd.to_datetime(indice_di['Data'],format= "%d/%m/%Y")
ipca['Data'] = pd.to_datetime(ipca['Data'],format= "%d/%m/%Y")
dolar['Data'] = pd.to_datetime(dolar['Data'],format= "%d/%m/%Y")
bova11['Data'] = pd.to_datetime(bova11['Data'],format= "%d/%m/%Y")
smal11['Data'] = pd.to_datetime(smal11['Data'],format= "%d/%m/%Y")
bitcoin['Data'] = pd.to_datetime(bitcoin['Data'],format= "%d/%m/%Y")
ether['Data'] = pd.to_datetime(ether['Data'],format= "%d/%m/%Y")

In [36]:
print('Data mínima: {} // Data Máxima: {} '.format(selic['data'].min(), selic['data'].max()))
print('Data mínima: {} // Data Máxima: {} '.format(indice_di['Data'].min(), indice_di['Data'].max()))
print('Data mínima: {} // Data Máxima: {} '.format(ipca['Data'].min(), ipca['Data'].max()))
print('Data mínima: {} // Data Máxima: {} '.format(dolar['Data'].min(), dolar['Data'].max()))
print('Data mínima: {} // Data Máxima: {} '.format(bova11['Data'].min(), bova11['Data'].max()))
print('Data mínima: {} // Data Máxima: {} '.format(smal11['Data'].min(), smal11['Data'].max()))
print('Data mínima: {} // Data Máxima: {} '.format(bitcoin['Data'].min(), bitcoin['Data'].max()))
print('Data mínima: {} // Data Máxima: {} '.format(ether['Data'].min(), ether['Data'].max()))

Data mínima: 1996-06-26 00:00:00 // Data Máxima: 2021-05-05 00:00:00
Data mínima: 1986-07-01 00:00:00 // Data Máxima: 2021-06-01 00:00:00
Data mínima: 1981-01-01 00:00:00 // Data Máxima: 2021-06-01 00:00:00
Data mínima: 2010-01-02 00:00:00 // Data Máxima: 2021-07-19 00:00:00
Data mínima: 2011-01-03 00:00:00 // Data Máxima: 2021-07-19 00:00:00
Data mínima: 2011-01-03 00:00:00 // Data Máxima: 2021-07-19 00:00:00
Data mínima: 2010-12-31 00:00:00 // Data Máxima: 2021-07-19 00:00:00
Data mínima: 2015-08-07 00:00:00 // Data Máxima: 2021-07-19 00:00:00

In [37]:
print(dolar.loc[dolar.Data >='2015-08-07 00:00:00'].shape[0], dolar.shape[0])
print(bova11.loc[bova11.Data >='2015-08-07 00:00:00'].shape[0], bova11.shape[0])
print(smal11.loc[smal11.Data >='2015-08-07 00:00:00'].shape[0], smal11.shape[0])
print(bitcoin.loc[bitcoin.Data >='2015-08-07 00:00:00'].shape[0], bitcoin.shape[0])
print(ether.loc[ether.Data >='2015-08-07 00:00:00'].shape[0], ether.shape[0])

2220 4298
1605 2846
1602 2844
2214 3922
2211 2211

# Saving Dataframes

In [38]:
selic.to_csv('..\data\selic.csv')
indice_di.to_csv('..\data\indice_di.csv')
ipca.to_csv('..\data\ipca.csv')
dolar.to_csv('..\data\dolar.csv')
bova11.to_csv('..\data\\bova11.csv')
smal11.to_csv('..\data\smal11.csv')
bitcoin.to_csv('..\data\\bitcoin.csv')
ether.to_csv('..\data\ether.csv')